Repository vs0119/aidb, changes with the owners that .github/CODEOWNERS names for each.
All owners: @aidb-dev/maintainers, @aidb-dev/storage, @aidb-dev/indexing, @aidb-dev/backend, @aidb-dev/sql

fix: merge UI improvements with ACID compliance features
  apps/aidb-mac/Sources/AIDBMac/Models.swift
  crates/aidb-bench/Cargo.toml
  crates/aidb-bench/src/advanced_bench.rs
  crates/aidb-bench/src/main.rs
  crates/aidb-server/src/main.rs
  crates/aidb-sql/Cargo.toml
  crates/aidb-sql/src/execution/batch.rs
  crates/aidb-sql/src/execution/join.rs
  crates/aidb-sql/src/execution/mod.rs
  crates/aidb-sql/src/execution/operators.rs
  crates/aidb-sql/src/execution/scheduler.rs
  crates/aidb-sql/src/lib.rs
  crates/aidb-sql/src/planner/mod.rs
  crates/aidb-sql/tests/parallel.rs
  crates/aidb-sql/tests/vectorized.rs
Owners: @aidb-dev/backend, @aidb-dev/maintainers, @aidb-dev/sql

Add Cranelift JIT for SQL operators
  crates/aidb-bench/Cargo.toml
  crates/aidb-bench/src/jit_bench.rs
  crates/aidb-bench/src/main.rs
  crates/aidb-server/src/main.rs
  crates/aidb-sql/Cargo.toml
  crates/aidb-sql/src/jit.rs
  crates/aidb-sql/src/lib.rs
Owners: @aidb-dev/maintainers, @aidb-dev/backend, @aidb-dev/sql

Implement normalized plan cache with batch retention
  crates/aidb-sql/src/execution/join.rs
  crates/aidb-sql/src/execution/mod.rs
  crates/aidb-sql/src/execution/operators.rs
  crates/aidb-sql/src/lib.rs
Owners: @aidb-dev/sql

Add materialized view framework with refresh scheduling
  crates/aidb-sql/src/lib.rs
  crates/aidb-sql/src/planner/table_ref.rs
Owners: @aidb-dev/sql

Add external connector support and fix warnings
  crates/aidb-sql/src/execution/join.rs
  crates/aidb-sql/src/execution/mod.rs
  crates/aidb-sql/src/execution/operators.rs
  crates/aidb-sql/src/external/mod.rs
  crates/aidb-sql/src/lib.rs
  crates/aidb-sql/src/planner/cardinality.rs
  crates/aidb-sql/src/planner/context.rs
  crates/aidb-sql/src/planner/cost.rs
  crates/aidb-sql/src/planner/heuristics.rs
  crates/aidb-sql/src/planner/logical.rs
  crates/aidb-sql/src/planner/memo.rs
  crates/aidb-sql/src/planner/table_ref.rs
  crates/aidb-sql/tests/federation.rs
Owners: @aidb-dev/sql

fix: resolve compilation errors in SQL engine and execution modules
  crates/aidb-sql/src/execution/join.rs
Owners: @aidb-dev/sql

feat: add Oracle Cloud deployment and fix CI issues
  .dockerignore
  Dockerfile
  crates/aidb-monitor/src/main.rs
  crates/aidb-sql/Cargo.toml
  crates/aidb-sql/src/jit.rs
  crates/aidb-sql/src/lib.rs
  deploy/README.md
  deploy/oracle-capacity-hunter.sh
  deploy/oracle-cloud-setup.sh
  deploy/setup-aidb.sh
Owners: @aidb-dev/maintainers, @aidb-dev/sql

docs: outline optimizer milestones roadmap
  docs/query-optimizer-roadmap.md
Owners: @aidb-dev/maintainers

Implement memo rewrite rules and cost-based planner
  crates/aidb-sql/src/execution/join.rs
  crates/aidb-sql/src/external/mod.rs
  crates/aidb-sql/src/jit.rs
  crates/aidb-sql/src/lib.rs
  crates/aidb-sql/src/planner/context.rs
  crates/aidb-sql/src/planner/cost.rs
  crates/aidb-sql/src/planner/heuristics.rs
  crates/aidb-sql/src/planner/logical.rs
  crates/aidb-sql/src/planner/memo.rs
  crates/aidb-sql/src/planner/mod.rs
Owners: @aidb-dev/sql

Implement cost-based join enumeration and vectorized operators
  crates/aidb-sql/src/execution/batch.rs
  crates/aidb-sql/src/execution/operators.rs
  crates/aidb-sql/src/jit.rs
  crates/aidb-sql/src/lib.rs
  crates/aidb-sql/src/planner/cardinality.rs
  crates/aidb-sql/src/planner/heuristics.rs
  crates/aidb-sql/src/planner/logical.rs
  crates/aidb-sql/src/planner/memo.rs
  crates/aidb-sql/src/planner/mod.rs
Owners: @aidb-dev/sql

Update reqwest from 0.11 to 0.12
  apps/aidb-mac/AIDBMac.app/Contents/Info.plist
Owners: @aidb-dev/backend

Update dashmap from 5.5 to 6.1
  apps/aidb-mac/AIDBMac.app/Contents/Info.plist
Owners: @aidb-dev/backend

Implement MVCC snapshot isolation components
  crates/aidb-storage-engine/src/lib.rs
  crates/aidb-storage-engine/src/mvcc.rs
  crates/aidb-storage-engine/src/transaction.rs
Owners: @aidb-dev/storage

Add columnar storage layout and encoding utilities
  crates/aidb-storage-engine/src/columnar.rs
  crates/aidb-storage-engine/src/compression.rs
  crates/aidb-storage-engine/src/lib.rs
Owners: @aidb-dev/storage

Add disk-based B+ tree indexing and planner integration
  crates/aidb-sql/Cargo.toml
  crates/aidb-sql/src/lib.rs
  crates/aidb-sql/src/planner/context.rs
  crates/aidb-sql/src/planner/cost.rs
  crates/aidb-sql/src/planner/heuristics.rs
  crates/aidb-sql/src/planner/logical.rs
  crates/aidb-sql/src/planner/mod.rs
  crates/aidb-storage-engine/Cargo.toml
  crates/aidb-storage-engine/src/index.rs
  crates/aidb-storage-engine/src/lib.rs
Owners: @aidb-dev/sql, @aidb-dev/storage

Add LSM tree storage components with compaction support
  crates/aidb-storage-engine/src/lib.rs
  crates/aidb-storage-engine/src/lsm/bloom.rs
  crates/aidb-storage-engine/src/lsm/compaction.rs
  crates/aidb-storage-engine/src/lsm/memtable.rs
  crates/aidb-storage-engine/src/lsm/mod.rs
  crates/aidb-storage-engine/src/lsm/scheduler.rs
  crates/aidb-storage-engine/src/lsm/sstable.rs
  crates/aidb-storage-engine/src/lsm/tree.rs
  crates/aidb-storage-engine/src/lsm/wal.rs
Owners: @aidb-dev/storage

Implement advanced table partitioning
  crates/aidb-sql/src/lib.rs
  crates/aidb-sql/src/partitioning.rs
  crates/aidb-sql/src/planner/heuristics.rs
Owners: @aidb-dev/sql

Add in-memory storage with durability and hybrid management
  crates/aidb-storage-engine/src/lib.rs
  crates/aidb-storage-engine/src/memory.rs
Owners: @aidb-dev/storage

Implement MVCC snapshot isolation with version store
  apps/aidb-mac/AIDBMac.app/Contents/Info.plist
Owners: @aidb-dev/backend

Implement MVCC snapshot isolation components (#31)
  crates/aidb-storage-engine/src/lib.rs
  crates/aidb-storage-engine/src/mvcc.rs
  crates/aidb-storage-engine/src/transaction.rs
Owners: @aidb-dev/storage

Add columnar storage layout with encoding utilities
  apps/aidb-mac/AIDBMac.app/Contents/Info.plist
Owners: @aidb-dev/backend

Add columnar storage layout and encoding utilities (#32)
  crates/aidb-storage-engine/src/columnar.rs
  crates/aidb-storage-engine/src/compression.rs
  crates/aidb-storage-engine/src/lib.rs
Owners: @aidb-dev/storage

WIP: Disk-based B+ tree implementation
  apps/aidb-mac/AIDBMac.app/Contents/Info.plist
  crates/aidb-storage-engine/src/index.rs
Owners: @aidb-dev/backend, @aidb-dev/storage

Add LSM tree storage with compaction support
  apps/aidb-mac/AIDBMac.app/Contents/Info.plist
Owners: @aidb-dev/backend

Add table partitioning with range, hash, and list strategies
  apps/aidb-mac/AIDBMac.app/Contents/Info.plist
Owners: @aidb-dev/backend

Implement advanced table partitioning (#35)
  crates/aidb-sql/src/lib.rs
  crates/aidb-sql/src/partitioning.rs
  crates/aidb-sql/src/planner/heuristics.rs
Owners: @aidb-dev/sql

Add memory-resident storage with hybrid disk spillage
  apps/aidb-mac/AIDBMac.app/Contents/Info.plist
Owners: @aidb-dev/backend

.github/CODEOWNERS:

# Default owners
*       @aidb-dev/maintainers

# Storage engine changes
crates/aidb-storage/**          @aidb-dev/storage
crates/aidb-storage-engine/**   @aidb-dev/storage

# Indexing layers
crates/aidb-index-*/**          @aidb-dev/indexing

# Server / API
crates/aidb-server/**           @aidb-dev/backend
apps/**                         @aidb-dev/backend

# SQL engine
crates/aidb-sql/**              @aidb-dev/sql
